<ion-header>

  <ion-navbar>
    <ion-title>Dispositivos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let device of data">
      <h2>{{ device.name }}</h2>
      <p>{{ device.ip }}</p>
      <p *ngIf="device.type == 0; else isActuator">Tipo: Sensores</p>
      <ng-template #isActuator>
        <p>Tipo: Actuadores</p>
      </ng-template>
      <button ion-button color="warning" (click)="editDevicePage(device._id, device.name, device.ip, device.type)">Editar</button>
      <button ion-button color="danger" (click)="removeDeviceAlert(device._id, device.name)">Eliminar</button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="addDevicePage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<style>
  .buttoncss{
color:#e74c3c;
}
</style>
