
<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="pulse"></ion-icon> Sensores
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let device of devices">
      <h1 ion-text text-center><strong>{{ device.name }} ({{ device.ip }})</strong></h1>
    <ion-card-content>
      <ion-row>
        <ion-col text-center>
          <h2 ion-text><strong>Temperatura Actual</strong></h2>
          <h3 ion-text>{{ device.temp }}</h3>
        </ion-col>
        <ion-col text-center>
          <h2 ion-text><strong>Humedad Actual</strong></h2>
          {{ device.humidity }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h2 ion-text><strong>Detector de Gas</strong></h2>
          <h3 ion-text *ngIf="device.gas == 1" color="primary">No hay deteccion :)</h3>
          <h3 ion-text *ngIf="device.gas == 0" color="danger">GAS DETECTADO</h3>
        </ion-col>
        <ion-col text-center>
          <h2 ion-text><strong>Detector de Luminosidad</strong></h2>
          <h3 ion-text *ngIf="device.luminosidad == 1" color="primary">Ausencia de luz :)</h3>
          <h3 ion-text *ngIf="device.luminosidad == 0" color="danger">LUZ DETECTADA</h3>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
